{
  "extends": "@antfu",
  "ignorePatterns": [
    "!pages/public"
  ],
  "overrides": [
    {
      "files": [
        "locales/**.json"
      ],
      "rules": {
        "jsonc/sort-keys": "error"
      }
    }
  ],
  "rules": {
    "vue/valid-v-slot": "off",
    "no-console": "off"
  }
}
