:root {
  --c-primary-active: #00a6df;
  --c-primary: #228be6;
  --theme-color-name: #00a6df;
  --c-primary: rgb(var(--rgb-primary));
  --c-primary-active: #008ec6;
  --c-primary-light: #00a6df80;
  --c-primary-fade: #00a1da1a;
  --rgb-primary: 0, 166, 223;
  --c-dark-primary: rgb(var(--rgb-dark-primary));
  --c-dark-primary-active: #0093cb;
  --c-dark-primary-light: #17abe480;
  --c-dark-primary-fade: #00a6df1a;
  --rgb-dark-primary: 0, 166, 223
}
